#Copyright (c) 2011-2016, NVIDIA CORPORATION. All rights reserved.
#Copyright (C) 2019 The LineageOS Project
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import /vendor/etc/init/hw/init.tegra_emmc.rc
import /vendor/etc/init/hw/init.tn8_common.rc
import /vendor/etc/init/hw/init.t124.rc
import /vendor/etc/init/hw/init.cal.rc
import /vendor/etc/init/hw/init.ray_touch.rc

on fs
    mount_all /vendor/etc/fstab.ardbeg
    swapon_all /vendor/etc/fstab.ardbeg

on post-fs-data
    write /sys/class/gpio/export 61
    write /sys/class/gpio/gpio61/direction out
    write /sys/class/gpio/gpio61/value 0
    chown root system /sys/class/gpio/gpio61/value
    chmod 0664 /sys/class/gpio/gpio61/value
    #start start-gps

# Product specific props
on init
    setprop ro.product.vendor.device ardbeg
    setprop ro.product.vendor.model "Ardbeg"
    setprop ro.product.vendor.name ardbeg

    setprop ro.product.first_api_level 19
    setprop ro.vendor.product.config.shipped_with_full_treble false

    setprop ro.vendor.nv.usb.vid 0955
    setprop ro.vendor.nv.usb.pid.mtp 7102
    setprop ro.vendor.nv.usb.pid.mtp.adb 7100
    setprop ro.vendor.nv.usb.pid.ptp 7102
    setprop ro.vendor.nv.usb.pid.ptp.adb 7100
    setprop ro.vendor.nv.usb.pid.rndis 7103
    setprop ro.vendor.nv.usb.pid.rndis.acm.adb 7103
    setprop ro.vendor.nv.usb.pid.rndis.adb 7103
