#Copyright (c) 2011-2014 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

on init

    # create directory for mounting factory partition
    mkdir /mnt 0666 system system
    mkdir /mnt/factory 0666 system system

on boot

    # Needed for touch
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/FCT /mnt/factory ro

#Raydium touch setting
service rm-runner    /system/bin/rm-runner.sh

# This yields each tegra wdt expiration to be at 7.5 secs and fourth expiration for reboot at 30 secs.
service watchdogd /sbin/watchdogd 10 20
    class default
    seclabel u:r:watchdogd:s0
