#Copyright (c) 2011-2014 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import /vendor/etc/init/hw/init.tegra_emmc.rc
import /vendor/etc/init/hw/init.tn8_common.rc
import /vendor/etc/init/hw/init.t124.rc
import /vendor/etc/init/hw/init.cal.rc
import /vendor/etc/init/hw/init.ray_touch.rc

on boot
    write /sys/devices/platform/host1x/tegradc.0/enable 0
    write /sys/devices/platform/host1x/tegradc.0/enable 1

on post-fs-data
    setprop ro.hardware.gps mtk
    #start mnld

# mtk gps mnld
    service mnld /vendor/bin/mnld
    socket mnld stream 666 system system
    class main
    disabled
