# Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


#
# config_modem.te
#
type config_modem, domain;
type config_modem_exec, exec_type, file_type;

init_daemon_domain(config_modem)

# start/stop fil-daemon service
unix_socket_connect(config_modem, property, init)
allow config_modem ctl_fildaemon_prop:property_service set;

# i2c access to read RF calibration (icera-rfm-eeprom)
allow config_modem i2c_device:chr_file rw_file_perms;

# sysfs: read access to pmic and soc entries
allow config_modem sysfs_pmic:file r_file_perms;
allow config_modem sysfs_pmic:dir r_dir_perms;
allow config_modem sysfs_pmic:lnk_file r_file_perms;
allow config_modem sysfs_soc:file r_file_perms;
allow config_modem sysfs_soc:dir r_dir_perms;

# /data/rfs access
allow config_modem radio_data_icera_file:dir create_dir_perms;
allow config_modem radio_data_icera_file:file create_file_perms;
allow config_modem radio_data_icera_file:lnk_file create_file_perms;

# system binaries run in config_modem domain:
# log (output to logcat)
# icera-rfm-eeprom
allow config_modem shell_exec:file rx_file_perms;
allow config_modem system_file:file rx_file_perms;
