#Copyright (c) 2011-2014 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.ray_touch.rc

# This yields each tegra wdt expiration to be at 7.5 secs and fourth expiration for reboot at 30 secs.
service watchdogd /sbin/watchdogd 10 20
    class default
    seclabel u:r:watchdogd:s0
